@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

body{
    line-height: 1.3em;
    font-family: 'Work Sans', Arial, Helvetica, sans-serif;
    font-size: 1em;
}

h1 {
    font: italic bolder 3em 'Work Sans', Arial, Helvetica, sans-serif;
}

h2 {
    font: bold 2em 'Work Sans', Arial, Helvetica, sans-serif;
}

p a {
    font-weight: 700;
    text-decoration: none;
    font-size: 1em;
    background-color: rgba(144, 240, 243, 0.596);
    color:rgb(0, 31, 32);
}